<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335625141703-hjsv6t09pre7a1vd1s7arsmk780cgr73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335625141703-hjsv6t09pre7a1vd1s7arsmk780cgr73</string>
	<key>API_KEY</key>
	<string>AIzaSyAR-ldLpMTS9gDCvL0i7yA47XSmiYhJdxo</string>
	<key>GCM_SENDER_ID</key>
	<string>335625141703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brett.sociallync</string>
	<key>PROJECT_ID</key>
	<string>social-lync</string>
	<key>STORAGE_BUCKET</key>
	<string>social-lync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335625141703:ios:8ddfe7dcbe7f982605ade2</string>
	<key>DATABASE_URL</key>
	<string>https://social-lync.firebaseio.com</string>
</dict>
</plist>